rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{document=**} { allow read: if true; allow write: if false; }
    match /couriers/{document=**} { allow read: if true; allow write: if false; }
    match /charges/{document=**} { allow read: if true; allow write: if false; }
    match /discounts/{document=**} { allow read: if true; allow write: if false; }
    match /orders/{document=**} { allow read: if true; allow write: if false; }
    match /customers/{document=**} { allow read, write: if false; }
    match /{document=**} { allow read, write: if false; }
  }
}
